* {
  box-sizing: border-box;
}
body {

	text-align: center;
  	font-family: 'Roboto Mono', monospace;
	font-weight: 1000;
  	padding: 20px 20px 60px;
  	max-width: 680px;
  	margin: 0 auto;
  	color: #3366ff;
	text-decoration: none;
	height: 100%
}
#wrap {
  min-height: 100%;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
	overflow:auto
  }
}
/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10% auto;
  margin: 10px auto 10px;
  height: 200px;
  text-align: center;
  background-color: #f1f1f1;
  border-style:solid;
 border-color: #3366ff; 
  border-width: medium;
  overflow: hidden;
  
  
}

.hvr-border-fade {font-weight: 1000; color:#3366ff; font-size: x-large;}
.fat2 {font-weight: 1000; color:#3366ff; font-size: medium; display: inline; text-align: center;}
a {
    line-height: 1em;
    display: inline-block;
    text-decoration: none;
    margin: 8px;
	
}

.highlightme { background-color:#3366ff; color:white; display: inline-flex;}
.highlightme2 { background-color:#3366ff; color:white; font-weight: bold;}

.inline {display:inline}

li {
	display: inline;
	padding: 6px;
	list-style:none;
	text-decoration: none;
	
}
footer {
  position: bottom;
  
  /* negative value of footer height */
  
  clear: both;
 
}
main {
  padding-bottom: 240px;
}


.container{
	text-align: justify;
position: absolute;
  margin: auto;
  width: 50%;
  padding: 20px;
}

p {
	font-weight: 500;
	font-size: small;
}

.hvr-border-fade:hover, .hvr-border-fade:focus, .hvr-border-fade:active {
  box-shadow: inset 0 0 0 2px #3366ff, 0 0 1px rgba(0, 0, 0, 0);
  padding: 4px;
  /* Hack to improve aliasing on mobile/tablet devices */
}
.icon::before {
	 display: inline-block;
	 font-style: normal;
	 font-variant: normal;
	 text-rendering: auto;
	 -webkit-font-smoothing: antialiased;
}
 .button {
	 padding: 1rem 3.5rem 1rem 1.5rem;
	 transition: 0.2s all;
	 cursor: pointer;
	 box-shadow: -12px -9px 0px rgba(255, 255, 255, 1), 0px 0px 0px rgba(255, 255, 255, 0);
}
 .button p {
	 padding: 0;
	 margin: 0;
}
 .button:before {
	 font-family: "Font Awesome 5 Free";
	 font-weight: 900;
	 content: "\f061";
	 position: absolute;
	 right: 24px;
	 transition: 0.2s all;
	 opacity: 1;
	 color: #f5a629;
}
 .button:after {
	 position: absolute;
	 left: 0;
	 top: 0;
	 z-index: -999;
	 content: '';
	 background: #efefef;
	 height: 50px;
	 width: 100%;
	 transition: 0.3s all;
}
 .button:hover {
	 box-shadow: 12px 9px 0px rgba(255, 255, 255, 1), 18px 15px 0px #f5a629;
}
 .button:hover:before {
	 position: absolute;
	 right: 5px;
	 opacity: 1;
}
 .button:hover:after {
	 width: 50%;
}
 a {
	 color: #4a4a4e;
	 text-decoration: none;
	 transition: 0.2s;
	 text-align: left;
	 font-weight: 500;
	 font-size: 16px;
	 letter-spacing: 1px;
}
 
 